In [1]:
#Qual Cidade com Maior Valor de Venda de Produtos da Categoria 'Office Supplies'?

In [2]:
#Importando bibliotecas
import pandas as pd

In [3]:
#Abrindo arquivo CSV
data_set = pd.read_csv("dataset.csv")
data_set.head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Cidade,Estado,ID_Produto,Categoria,SubCategoria,Valor_Venda
0,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-BO-10001798,Furniture,Bookcases,261.9600
1,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-CH-10000454,Furniture,Chairs,731.9400
2,CA-2017-138688,12/06/2017,DV-13045,Corporate,United States,Los Angeles,California,OFF-LA-10000240,Office Supplies,Labels,14.6200
3,US-2016-108966,11/10/2016,SO-20335,Consumer,United States,Fort Lauderdale,Florida,FUR-TA-10000577,Furniture,Tables,957.5775
4,US-2016-108966,11/10/2016,SO-20335,Consumer,United States,Fort Lauderdale,Florida,OFF-ST-10000760,Office Supplies,Storage,22.3680

In [10]:
#Separando a categoria Office Supplies
data_set_office = data_set[data_set["Categoria"]== "Office Supplies"]

#Agrupando somátorio de Valor_Venda por cidade e categoria
data_set_city_office_venda = data_set_office.groupby("Cidade")["Valor_Venda"].sum().reset_index()

#filtrando por maior valor
data_set_city_office_venda_max = data_set_city_office_venda.max()
data_set_city_office_venda_max

Cidade              Yuma
Valor_Venda    68362.814
dtype: object

In [5]:
data_set_city_office_venda.sort_values(by = "Valor_Venda", ascending = False)

            Cidade  Valor_Venda
295  New York City    68362.814
239    Los Angeles    47098.100
392  San Francisco    41771.198
406        Seattle    34856.878
335   Philadelphia    29313.687
..             ...          ...
316   Ormond Beach        2.808
331      Pensacola        2.214
202        Jupiter        2.064
129         Elyria        1.824
1          Abilene        1.392

[480 rows x 2 columns]